@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-4xl font-heading mb-4 text-gray-300;
}

p {
    @apply mb-4 text-gray-500;
}

a {
    @apply text-blue-400 hover:text-green-700;
}

svg {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
}

.underline-animation {
    position: relative;
    display: inline-block;
}

.underline-animation::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.underline-animation:hover::after {
    width: 100%;
}

.underline-active::after {
    width: 100%;
}